
<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

<section class="hero-section">
  <div class="card-grid">
    <a class="card" *ngFor="let food of foodData" href="#">
      <div class="card__background" [style.background-image]="'url(' + food.foodImg + ')'"></div>
      <div class="card__content">
        <p class="card__category">{{ food.foodDetails }}</p>
        <h3 class="card__heading">{{ food.foodName }}</h3>
        <p class="card__price">{{ food.foodPrice | currency:'INR' }}</p>
      </div>
    </a>
  </div>
</section> -->

 <p>menu works!</p>
<div class="container mt-5 mb-5">

    <div class="row">

        <div class="col-lg-4" *ngFor="let fd of foodData">

            <div class="foodbox mt-3 mb-3">
                <img src="{{fd.foodImg}}">
                <h1>{{fd.foodName}}</h1>
                <p>{{fd.foodDetails}}</p>
                <p>{{fd.foodPrice | currency:'INR'}}</p>
                <br/>
                <a class="buybtn" [routerLink]="['/menu',fd.id]">Buy Now &nbsp;<i class="bi bi-bag"></i></a>
            </div>

        </div>



    </div>

</div> 
