
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif
}

html,
body {
    height: 100%
}

body {
    display: grid;
    place-items: center;
    background: #c7633b
}

.card {
	color:#fff;
    width: 350px;
    border-radius: 10px;
   background: linear-gradient(145deg, #c7633b, #bd5329);
box-shadow:  20px 20px 60px #c7633b, 
             -20px -20px 60px #e44a0d;
    border: none
}

.neo-button {
    width: 40px;
    height: 40px;
    outline: 0 !important;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    border: none;
    margin-right: 10px;
    border-radius: 50%;
background: linear-gradient(145deg, #9a40a9, #b74cc9);
box-shadow: inset 20px 20px 60px #913ca0, 
             inset -20px -20px 60px #c552d8;
}

.num{
	
	color:#eee !important;
}

.line{
	color:#fff;
}

.neo-button:active {
   border-radius: 50%;
background: #AB47BC;
box-shadow:  28px 28px 57px #933da2, 
             -28px -28px 57px #c351d6;
}

.fa-facebook {
    color: #3b5998
}

.fa-linkedin {
    color: #0077b5
}

.fa-google {
    color: #dc4e41
}

.fa-youtube {
    color: #cd201f
}

.fa-twitter {
    color: #55acee
}

.profile_button{
	color:#fff;
	padding:10px; 
   border:none;
   outline:0 !important;
border-radius: 50px;
background: #AB47BC;
box-shadow:  28px 28px 57px #933da2, 
             -28px -28px 57px #c351d6;
            margin: 10px;
             
	
}

  

/* Facebook - Blue */
a .fab.fa-facebook-f {
    color: #1877F2;
  }
  
  /* Twitter - Blue */
  a .fab.fa-twitter {
    color: #1DA1F2;
  }
  
  a .fab.fa-youtube {
    color: #FF0000;
  }
  
  /* Instagram - Gradient */
  a .fab.fa-instagram {
    background-image: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
  
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
  .container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  // Add these media queries at the end of your scss file
  @media (max-width: 575.98px) {
    .card {
      width: 100%;
    }
  }