<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Welcome to the Main Page</h1>
        <p>Select an action below:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-center">
        <button class="btn btn-primary" routerLink="/MyToast">My Toast</button>
      </div>
      <div class="col-md-6 text-center">
        <button class="btn btn-primary" routerLink="/updateUser">Update User</button>
      </div>
    </div>
  </div>
  