$navbar-color: #c7633b;



.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: $navbar-color;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: $navbar-color

}



@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}
.nav-item {
  padding: 0 0.5rem; // Add padding to separate texts
}

.navbar {
  background-color: rgba(243,235,222,255)
}

.navbar-brand {
  display: inline-block;
  padding: 0.3125rem;
  background: linear-gradient(to right, $navbar-color, #f59222);
  -webkit-background-clip: text;
  color: transparent;
}
.nav-link:hover,
.nav-link:focus {
  color: #757f9a;
}

.nav-link.disabled {
  color: #fd874d;
  pointer-events: none;
  cursor: default;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-link {
  margin-bottom: -1px;
  background: none;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
  isolation: isolate;
}

.nav-tabs .nav-link.disabled {
  color: #fd874d;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #fd874d;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-pills .nav-link {
  background: none;
  border: 0;
  border-radius: 0.25rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: $navbar-color;
}

.nav-fill > .nav-link,
.nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center;
}

.nav-justified > .nav-link,
.nav-justified .nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
  width: 100%;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.toastmaster{
  background:  linear-gradient(to right, $navbar-color, #f59222) !important;
}

.navbar-brand {
  display: inline-block;
  padding: 0.3125rem;
  background: linear-gradient(to right, $navbar-color, #f59222);
  -webkit-background-clip: text;
  color: transparent;
}


$animation1: back 1s infinite;
$animation2: color 1200ms infinite;

.contain {
  margin: 50px auto;
  width: 350px;
  display: flex;
}

.grapes1 .circ1 {
  transform: translateY(50px);
  animation: back 1s infinite;
}

.grapes1 .circ2 {
  transform: translateY(30px);
  animation: $animation1;
}

.grapes1 .circ3 {
  transform: translateY(20px) translateX(-40px);
  animation: $animation1;
}

.grapes1 .circ4 {
  transform: translateX(-20px) translateY(-60px);
  animation: $animation1;
}

.grapes1 .circ5 {
  transform: translateX(50px) translateY(10px);
  animation: $animation1;
}

.grapes1 .circ6 {
  transform: translateX(40px) translateY(60px);
  animation: $animation1;
}

.grapes1 .circ7 {
  transform: translateX(10px) translateY(40px);
  animation: $animation1;
}

.grapes1 .circ8 {
  transform: translateX(-30px) translateY(50px);
  animation: $animation1;
}

.grapes1 .circ9 {
  transform: translateX(50px) translateY(40px);
  animation: $animation1;
}

.grapes1 .circ10 {
  transform: translateX(-20px) translateY(20px);
  animation: $animation1;
}

.grapes1 .circ11 {
  transform: translateX(-20px) translateY(-40px);
  animation: $animation1;
}

.grapes1 .circ12 {
  transform: translateX(-40px) translateY(-60px);
  animation: $animation1;
}

.grapes1 .circ13 {
  transform: translateX(40px) translateY(-80px);
  animation: $animation1;
}

.grapes2 .circ1 {
  animation: $animation2;
}

.grapes2 .circ2 {
  animation: $animation2;
  animation-delay: 100ms;
}

.grapes2 .circ3 {
  animation: $animation2;
  animation-delay: 200ms;
}

.grapes2 .circ4 {
  animation: $animation2;
  animation-delay: 1100ms;
}

.grapes2 .circ5 {
  animation: $animation2;
  animation-delay: 300ms;
}

.grapes2 .circ6 {
  animation: $animation2;
  animation-delay: 400ms;
}

.grapes2 .circ7 {
  animation: $animation2;
  animation-delay: 500ms;
}

.grapes2 .circ8 {
  animation: $animation2;
  animation-delay: 600ms;
}

.grapes2 .circ9 {
  animation: $animation2;
  animation-delay: 600ms;
}

.grapes2 .circ10 {
  animation: $animation2;
  animation-delay: 700ms;
}

.grapes2 .circ11 {
  animation: $animation2;
  animation-delay: 800ms;
}

.grapes2 .circ12 {
  animation: $animation2;
  animation-delay: 1000ms;
}

.grapes2 .circ13 {
  animation: $animation2;
  animation-delay: 900ms;
}

@keyframes back {
  45% {
    transform: translateY(0);
    fill: #6252BA;
    stroke-width: 4px;
    stroke-dasharray: 8px;
    stroke-linecap: round;
    stroke: #0D4AB5;
  }
  55% {
    transform: translateY(0);
    fill: #6252BA;
    stroke-width: 2px;
    stroke-dasharray: 4px;
    stroke-linecap: round;
    stroke: #3826A3;
  }
}

@keyframes color {
  to {
    fill: purple;
  }
}

.logo-container {
  display: flex;
  align-items: center;
}

.contain {
  margin: 0;
  width: 30px;
  height: 30px;
}