<div class="svg-container">
    <svg class="grapes2" width="400px" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
    <style type="text/css">
      .st0{fill:#6D4838;}
      .st1{fill:#09594D;}
      .st2{fill:#2D704E;}
      .st3{fill:#5D73D8;}
      .st4{fill:#3661BF;}
      .st5{fill:#778EE0;}
    </style>
    <g>
      <rect x="95.8" y="2.1" class="st0" width="8.5" height="52.1"/>
      <g>
        <path class="st1" d="M132.6,2.3c0,0-30.4-5.5-28.5,28.5L132.6,2.3z"/>
        <path class="st2" d="M132.6,2.3c0,0,5.5,30.4-28.5,28.5L132.6,2.3z"/>
      </g>
    </g>
    <circle class="st3 circ1" cx="64.3" cy="46.9" r="16.5"/>
    <circle class="st3 circ2" cx="100" cy="46.9" r="16.5"/>
    <circle class="st3 circ3" cx="135.7" cy="46.9" r="16.5"/>
    <circle class="st4 circ4" cx="100" cy="181.5" r="16.5"/>
    <circle class="st4 circ5" cx="46.5" cy="80.3" r="16.5"/>
    <circle class="st4 circ6" cx="82.1" cy="80.3" r="16.5"/>
    <circle class="st5 circ7" cx="117.8" cy="80.3" r="16.5"/>
    <circle class="st5 circ8" cx="153.5" cy="80.3" r="16.5"/>
    <circle class="st3 circ9" cx="64.3" cy="114" r="16.5"/>
    <circle class="st4 circ10" cx="100" cy="114" r="16.5"/>
    <circle class="st4 circ11" cx="135.7" cy="114" r="16.5"/>
    <circle class="st5 circ12" cx="117.8" cy="148.5" r="16.5"/>
    <circle class="st5 circ13" cx="82.2" cy="148.5" r="16.5"/>
  </svg>
</div>
