.example-chip-list {
    width: 100%;
    margin-top: 20px;
  }
  
  .masthead{
    background: radial-gradient( circle 759px at -6.7% 50%, rgba(80,131,73,1) 0%, rgba(140,209,131,1) 26.2%, rgba(178,231,170,1) 50.6%, rgba(144,213,135,1) 74.1%, rgba(75,118,69,1) 100.3% );;
  }
  
  .success-snackbar {
    background-color: #4caf50; // green color for success
    color: #ffffff;
  }
  
  .error-snackbar{
    background-color: #f44336; // red color for error
    margin-top: 100px;
    color: #ffffff;
  }
  
  
  .card{
      border: 1px solid whitesmoke;
      width: 500px;
      height: 600px;
      padding: 20px;
      position: absolute;
      top: 2%;
      left: 50%;
      transform: translate(-50%,50%);
      background: transparent;
      box-shadow: inset -5px -5px  linear-gradient(5535deg, #757f9a,#d7dde8);
      }
      
      .card h1, h6{
        color: whitesmoke
      }
      .textarea{
        background-color: transparent;
        border: 1px solid rebeccapurple;
        margin-top: 20px
  
      }
      label {
        color: whitesmoke
      }
      
      ::placeholder{
        color:aqua
      }
      .btn{
        background-color: whitesmoke;
        color:black;
        margin-top: 50px;
        margin-left: 100px;
        width:200px
      
      }
      
      .btn:hover{
        color: greenyellow;
      }
      
      .form-control{
        background-color: transparent;
        border: 1px solid rebeccapurple;
        color: rebeccapurple; 
        font-size: 1.25rem;
                font-weight: lighter;
                border: 1px solid rebeccapurple;
                margin-bottom: 1px;
                margin-top: 10px;
  
        
      }
      
      #question-login{
        color:white;
        margin-left:120px
      }
      #question-login:hover{
        color: greenyellow; 
      
      }
      
      // #toast_img{
      //   display: none;
      // }
  
    .succsesfully-message{
      color:greenyellow;
      display: inline-block;
    }


.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  // background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../assets/img/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.masthead h1, .masthead .h1 {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.masthead h2, .masthead .h2 {
  max-width: 20rem;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .masthead h1, .masthead .h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1, .masthead .h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2, .masthead .h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}



.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}
