
mat-card {
  max-width: 960px;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #FFE5B4; // Add this line to set the background color
}



.add-comment-button {
  background-color: #636FA4;
  color: #fff; // Set the text color to white or any color you prefer
}

.toast-details {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

}

.toast-image {
  flex: 0 0 50%;
  max-width: 50%;
}

.toast-image img {
  max-width: 100%;
  height: auto;
}

.toast-content {
  flex: 1;
}

.toast-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

@media (max-width: 767px) {
  .toast-image,
  .toast-content {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}

.toast-details {
  display: flex;
  justify-content: space-between;
}

.comment-section {
  display: flex;
  flex-direction: column;
}

.comment-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; // Add a margin-bottom to create space between the button and the comment section

}

.mat-card {
  max-width: 100%;
}

.highlight-background {
  background-color: black;
  display: inline-flex;
  border-radius: 50%;
  padding: 2px;
}

.comments {
  background-color: #F0F0F0; // Add a background color to separate each comment
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.comment-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.comment-author {
  font-weight: bold; // Style the author name
  color: #333;
}

.comment-date {
  font-style: italic; // Style the comment date
  color: #777;
}

.comment-content {
  margin: 0; // Remove the default margin of the paragraph
}