<mat-card>
  <mat-card-header>
    <mat-card-title>{{ printData?.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div class="toast-details">
      <div class="toast-image">
        <img *ngIf="printData?.img" [src]="getImgUrl(printData.img)" alt="Toast" />
      </div>
      <div class="toast-content">
        <p>{{ printData?.content }}</p>

        <div class="toast-actions">
          
      

        </div>
      </div>
    </div>

    

    <div class="toast-actions">
      <button mat-icon-button color="primary" (click)="toggleLikeContent(printData?.id)">
        <div *ngIf="printData?.status === 'like'" class="highlight-background">
          <mat-icon>thumb_up</mat-icon>
        </div>
        <mat-icon *ngIf="printData?.status !== 'like'">thumb_up</mat-icon>
      </button>
      <span>{{ printData?.likes }}</span>
      <button mat-icon-button color="warn" (click)="toggleDislikeContent(printData?.id)">
        <div *ngIf="printData?.status === 'dislike'" class="highlight-background">
          <mat-icon>thumb_down</mat-icon>
        </div>
        <mat-icon *ngIf="printData?.status !== 'dislike'">thumb_down</mat-icon>
      </button>
      <span>{{ printData?.dislikes }}</span>
      <span>Seen {{ printData?.views }} times</span>
    </div>


  </mat-card-content>

  
  <ng-container *ngIf="auth1">
  <mat-card-content class="comment-section">
    <div class="comment-input">
      <mat-form-field appearance="outline">
        <mat-label>Input your comment</mat-label>
        <input matInput placeholder="Enter your comment" [(ngModel)]="newComment"/>
      </mat-form-field>
      <button mat-raised-button color="primary" class="add-comment-button" (click)="addComment(newComment)">Add Comment</button>
    </div>

    <div class="comments" *ngFor="let comment of comments">
      <div class="comment-meta">
        <span class="comment-author">{{ comment.user_name }}</span>
        <span class="comment-date">{{ comment.timestamp | date: "medium" }}</span>
      </div>
      <p class="comment-content">{{ comment.content }}</p>
    </div>

  </mat-card-content>
</ng-container>
</mat-card>