
<div class="masthead">
  <div class="cards-container">

  <div *ngFor="let item of toasts" class="meore">

    <div class="card" style="width: 18rem;">
      <img [src]="getImgUrl(item.img)" />


      <div class="card-body">
        <h5 class="card-title">    {{ item.content }}
        </h5>
        <p class="card-text">    {{ item.title}}
        </p>


        <mat-chip-list>
          <mat-chip *ngFor="let chip of item.input">

            {{ chip }}
          
          </mat-chip>
        </mat-chip-list>
        
      </div>
      <button *ngIf="item.user_id === userId" (click)="openConfirmationDialog(item.id)">delete</button>
      <!-- (click)="deleteToast(item.id)"  -->
      <div class="author">
        <a [routerLink]="['/details/',item.id]">detail</a>
</div>
    </div>
    <!-- <app-dialog></app-dialog> -->

    </div>

    <div class="pagination">
      <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
      <span *ngFor="let pageNumber of getPageNumbers()" [class.active]="pageNumber === currentPage">
        <a class="page-number" (click)="goToPage(pageNumber)" [routerLink]="[]" [queryParams]="{page: pageNumber}">{{ pageNumber }}</a>
      </span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>